html, body {
	margin: 0; padding: 0;
}

body {
	font-family: sans-serif;
	color: #333333;
	background: #D2E9D5;
	padding: 40px 0 0 60px;
	margin-top: -50px;
}
	
header {
	display: flex;
	position: fixed; top: 0; left: 0; right: 0;
	height: 40px; line-height: 40px;
	background: #39B54A; color: white;
	
	> div {
		padding: 0 10px;
		height: 100%;
		white-space: nowrap;
	}
	
	div.log-id {
		background: #4ABF5A;
		width: 60px; max-width: 60px;
		padding: 0;
		text-align: center;
		flex-shrink: 0;
		
		&:before {
			content: "Log ID:";
			display: block;
			font-size: 0.6em;
			height: 1.6em;
			margin-top: -0.85em;
		}
	}
	
	div.app-version {
		background: #47B856;
		
		&:before {
			content: "v";
		}
	}
	
	div.device {
		background: #47B856;
		border-left: 2px solid #39B54A;
	}
}

nav {
	position: fixed; top: 40px; left: 0; bottom: 0;
	width: 60px;
	background: #39B54A;
	
	a.button {
		display: block;
		margin: 5px; padding: 0;
		text-align: center; line-height: 40px;
		
		color: white; text-decoration: none;
		background: #4ABF5A;
		border-radius: 5px;
		transition: background 60ms;
		
		&:hover {
			background: #57E069;
		}
	}
}

section {
	margin: 10px;
	overflow: hidden;
	padding-top: 50px;
	border-radius: 4px;
	
	h3 {
		margin: 0; padding: 5px 10px;
		border-radius: 4px 4px 0 0;
		background: #1F9A2E;
		color: white;
	}

	pre, div.log-lines {
		background: #fafafa;
		margin-top: 0;
	}
	
	pre {
		padding: 10px;
		overflow-y: hidden;
		overflow-x: auto;
		white-space: pre-wrap;
	}
	
	div.log-lines {
		padding: 10px;
		overflow-y: hidden;
		overflow-x: auto;
		font-family: monospace;
		font-size: 13px;
	}
	
	div.log-lines div.line {
		display: flex;
		transition: background 45ms;
		border-radius: 3px;
		
		.date {
			padding: 3px 5px;
			color: #acacac;
			white-space: nowrap;
			text-decoration: none;
		}
		
		.text {
			padding: 3px 5px;
			color: #333333;
			line-height: 150%;
			white-space: pre;
		}
		
		&.odd {
			background: #f5f5f5;
		}
		
		&:hover {
			background: #EEF5EF;
		}
		
		&:target {
			background: #FFF4C1;
		}
	}
}
